html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* 确保 html 和 body 填满视口 */
}
#zimu{
    font-size: 50px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    position:fixed;
    top:550px;
    left:500px;
}
#overlay {
    position:fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display:none;
}
#show_menu {
    position: fixed;
    top:0;
    left:0;
    z-index: 1000;
    width: 60px;
    height: 40px;
}
.hamburger{
    position: fixed;
    top:0;
    left:0;
    z-index: 1000;
    width: 40px;
    height:30px;
    cursor:pointer;
    background-color: white;
}

.line{
    width:30;
    height:4px;
    background-color: #333;
    margin: 5px 5px;
    transition: 0.3s;
}

/* .hamburger:hover .line{
    background-color:red;
} */

#catalogue{
    position: fixed;
    top:0;
    left:330px;
    width: 900px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.item{
    text-align:center;
    font-size: 50px;
    color: white;
}
/* .item:hover{
    background-color:red;
} */

ul {
    list-style-type: none;          /*移除列表前小标志*/
    margin: 0;                      /*外边距*/
    padding: 0;                     /*填充*/
    overflow: hidden;
}

/* li {
    align-items: center;                     
} */

a{
    display: block;              /*块元素*/
    width: 200px;                 /*设置块宽度*/
    text-decoration: none;      /*去掉下划线*/
    font-size: 60px;
    margin:auto;
    text-align:center;
    color: white;
    margin-top: 60px;
}