html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  /*确保 html 和 body 填满视口  */
  width: 100%;
}

#work_1,
#work_2 {
  cursor: pointer;
}

#work_img {
  width: 50px;
  height: 50px;
  background-image: url("../img/中科恒运.jpg");
  background-size: 100%, 100%;
}




/* 定义高度变化的动画 */
@keyframes growHeight {
  from {
    height: 0px;
  }

  /* 初始状态 */
  to {
    height: 420px;
  }

  /* 结束状态 */
}

/* 应用动画的类 */
.expand {
  animation: growHeight 0.5s ease forwards;
  /* forwards 保持动画结束状态 */
}


/* 定义高度变化的动画 */
@keyframes shrinkHeight {
  from {
    height: 420px;
  }

  /* 初始状态 */
  to {
    height: 0px;
  }

  /* 结束状态 */
}

/* 应用动画的类 */
.collapse {
  animation: shrinkHeight 0.5s ease forwards;
  /* forwards 保持动画结束状态 */
}

#leftBtn,
#rightBtn {
  position: absolute;
  z-index: 9999;
  overflow: hidden;
  height: 32px;
  width: 32px;
  border-radius: 44px;
  border: none;
  background: rgba(0, 0, 0, 0.24);
  padding: 0px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.btn_hidden {
  opacity: 0;
  cursor: not-allowed;
  pointer-events: none;
}

.title {
  border: 1px, solid, #DBDBDB;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline;
}



/*小屏幕手机端*/
@media (min-width: 0px) and (max-width:768px) {
  #entirety {
    margin: auto;
    width: 100%;
  }

  #left {
    position: fixed;
    /* top:0; */
    /* left:330px; */
    width: 100%;
    margin: auto;
    /* position: fixed; */
    top: 0;
    left: 0;
    /* transform: translateX(-50%); */
    z-index: 1000;
  }

  #frame_float {
    /* width: 100%; */
    border-radius: 10px 10px 0 0;
    background-color: #FFFFFF;
    display: flex;
    /* margin-top: 20px; */
    /* margin-left: 20px;
    margin-right: 20px; */
    /* box-shadow: 0 0px 30px rgba(0, 0, 0, 0.24); */
  }
  #card{
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.24);
  }

  #photo {
    position: relative;
    /* top: 10px; */
    margin: 10px;
    width: 180px;
    /* border: 1px, solid, #BFBFBF; */
    height: 200px;
    overflow: hidden;
  }

  #frame {
    /* margin-left: 20px;
    margin-right: 20px; */
    /* width: 100%; */
    background-color: white;
    border-radius: 0 0 10px 10px;
    background-color: #FFFFFF;
    height: 0;
    overflow: hidden;
    display: flex;
    padding-top: 5px;
    transition: height 0.3s ease-in-out;
    /* box-shadow: 5px 0px 30px rgba(0, 0, 0, 0.24); */
  }

  #right {
    width: 100%;
    /*height: 1000px; */
    background-color: #f6f6f6;
    margin-top: 270px;
    /* position: relative; */
    /* top:60px;
    left:600px; */
    transition: margin-top 0.3s ease-in-out;
  }

  #right_context {
    margin: 20px;
  }

  .work {
    /* width: 100%; */
    height: 50px;
    display: flex;
    transition: height 0.5s ease-in-out;
  }

  .date {
    /* position: relative;
  top: 4px;
  right: 40px; */
    margin-top: auto;
    margin-bottom: auto;
    font-size: 14px;
    color: #424242;
    margin-left: auto;
  }

  #popupTrigger,
  #popupTrigger_1 {
    width: 20px;
    height: 20px;
    /* position: relative;
  top: 5px;
  left: 145px; */
    background-image: url("../img/下拉.png");
    background-size: 100%, 100%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 2%;
    margin-left: 2%;
  }

  .box {
    width: 100%;
    height: 50px;
    border: 1px, dashed, #BFBFBF;
    overflow: hidden;
    border-radius: 5px;
    background-color: white;
    min-width: 336px;
    transition: height 0.5s cubic-bezier(0.33, 1, 0.68, 1);
  }

  .info {
    margin: auto;
    margin-bottom: 5px;
  }

  .company {
    font-size: 14px;
  }

  #top {
    height: 20px;
    background-color: #f6f6f6;
  }

  #details {
    height: 28px;
    width: 28px;
    position: absolute;
    right: 30px;
    top: 30px;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    background-image: url("../img/详情.png");
    background-size: cover;
    cursor: pointer;
  }

}

@media (min-width: 768px) {
  #entirety {
    display: flex;
    margin: auto;
    max-width: 900px;
  }
  #left {
    /* position:fixed;
    top:60px;
    left:330px; */
    width: 200px;
    height: 500px;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
  }

  #frame_float {
    width: 200px;
    height: 340px;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.24);
  }

  #photo {
    position: relative;
    top: 10px;
    margin: auto;
    width: 180px;
    /* border: 1px, solid, #BFBFBF; */
    height: 200px;
    overflow: hidden;
  }

  #frame {
    margin-top: 10px;
    width: 200px;
    height: 180px;
    background-color: white;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.24);
  }

  #right {
     width: 600px;
  /*height: 1000px; */
    background-color: #f6f6f6;
    margin-left: 300px;
    /* position: relative; */
    /* top:60px;
    left:600px; */
  }

  .work {
    width: 468px;
    height: 50px;
    display: flex;
    transition: height 0.5s ease-in-out;
  }

  .date {
    /* position: relative;
    top: 4px;
    left: 140px;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #424242; */
        margin-top: auto;
    margin-bottom: auto;
    font-size: 14px;
    color: #424242;
    margin-left: auto;
  }

  #popupTrigger,
  #popupTrigger_1 {
    /* width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
    left: 145px;
    background-image: url("../img/下拉.png");
    background-size: 100%, 100%;
    margin-top: 10px; */
        width: 20px;
    height: 20px;
    /* position: relative;
  top: 5px;
  left: 145px; */
    background-image: url("../img/下拉.png");
    background-size: 100%, 100%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 2%;
    margin-left: 2%;
  }

  .box {
    width: 468px;
    height: 50px;
    border: 1px, dashed, #BFBFBF;
    overflow: hidden;
    border-radius: 5px;
    background-color: white;
    transition: height 0.5s cubic-bezier(0.33, 1, 0.68, 1);
  }
    #details {
      display: none;
  }

}